<div class="content-wrapper">
  <xng-breadcrumb></xng-breadcrumb>

  <!-- print button -->
  <div class="print-button-container">
    <button
      [useExistingCss]="true"
      type="button"
      mat-icon-button
      printSectionId="print-section"
      ngxPrint
      ngbTooltip="Print invoice"
    >
      <mat-icon> print</mat-icon>
    </button>
  </div>
  <!-- print button end -->
  <div id="print-section">
    <div class="print-content">
      <!-- company name -->
      <div class="row no-gutters" id="header">
        <!--   <div class="col-md-3">
        <img
          src="/assets/images/nnc_logo.png"
          alt="logotipo"
          class="logotipo"
        />
      </div> -->

        <div class="col-md-7 name mx-auto">
          <h2 class="text-center">{{ orgDetail.organization }}</h2>
          <h6 class="text-center mx-auto">We care for your smile</h6>
          <h5 class="text-center">Estd. 2072 B.S</h5>
        </div>
      </div>
      <!-- company name end -->
      <!-- Invoice To -->
      <span style="float: right; margin: 2rem 10rem 2rem 0">
        Date: {{ billDate   }}
      </span>

      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="invoice-address">
            <h2>INVOICE</h2>

            <!-- customer details table -->
            <table class="table table-borderless table-sm">
              <tbody>
                <tr>
                  <th>Id</th>
                  <td>{{ clientDetails?.clientId }}</td>
                </tr>

                <tr>
                  <th>Billed to:</th>
                  <td>{{ clientDetails?.name | titlecase }}</td>
                </tr>
                <tr>
                  <th>Address:</th>
                  <td>{{ clientDetails?.address | titlecase }}</td>
                </tr>
                <tr>
                  <th>Mobile:</th>
                  <td>{{ clientDetails?.mobile }}</td>
                </tr>
              </tbody>
            </table>
            <!-- customer details table end-->
          </div>
        </div>
      </div>

      <!-- items description table  -->
      <table class="table invoice-table table-bordered table-sm">
        <thead>
          <tr>
            <th>Description</th>
            <!-- <th class="calculation-table-head">Unit</th>
             <th class="calculation-table-head">Rate</th>-->
            <th class="text-left">Amount</th>
          </tr>
        </thead>
        <tbody>
          <ng-container invoiceDetails$ | async>
            <tr *ngFor="let item of invoiceDetails?.itemList">
              <td style="border: none">{{ item.visitType.type }}</td>
              <td style="border: none">{{ item.amount }}</td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right mr-4"><b> Total : </b></td>
            <td class="text-left">{{ totalAmount }}</td>
          </tr>
        </tfoot>
      </table>
      <!-- items description table end  -->
    </div>
    <div class="col-md-7">
      <div class="signature-container">
        <div class="signature">Signature:</div>
      </div>
    </div>
  </div>
</div>
