<div class="content-wrapper">
  <xng-breadcrumb></xng-breadcrumb>

  <div
    fxLayout
    fxLayout.lt-md="column wrap"
    fxLayoutAlign="center center"
    fxLayoutGap.gt-sm="250px"
    fxLayoutGap.lt.md="20px"
  >
   
    <div>
      <app-table-top-bar
        [enableSearch]="false"
        (search)="onSearch()"
        (add)="onAdd('add')"
      ></app-table-top-bar>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="customerListTableDataSource" class="mb-0">
      <!--First Name Column -->
      <ng-container matColumnDef="S.n">
        <th mat-header-cell *matHeaderCellDef>S.n</th>
        <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}.</td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Customer Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.name | titlecase }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.address | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="due">
        <th mat-header-cell *matHeaderCellDef>Due</th>
        <ng-container *matCellDef="let element">
          <td
            mat-cell
            style="padding: 0.5rem 2em 0 2em; margin-right: 2rem"
            [ngStyle]="{
              'background-color':
                element.due == null || element.due == 0 ? '' : '#F78888'
            }"
          >
            {{ element?.due | number }}
          </td>
        </ng-container>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="visitDate">
        <th mat-header-cell *matHeaderCellDef>Last Visited Date</th>
        <td mat-cell style="padding-left: 0.5rem" *matCellDef="let element">
          {{ element.visitDateBs }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" align="end">
        <th mat-header-cell *matHeaderCellDef style="padding-right: 0">
          Action
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <app-table-action-buttons
            [enableDelete]="false"
            [enableEdit]="true"
            (edit)="onAdd('edit', row)"
            [enableViewDetails]="true"
            (viewDetails)="onViewDetails(row)"
          ></app-table-action-buttons>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
</div>
