 <!-- add skill modal -->
        <div
          class="modal fade"
          id="skillAddModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="skillExpertiseEditModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4
                  class="modal-title up-card-main-title tools-right-btn-title mb-0"
                  id="exampleSkillExpertiseEditModalTitle"
                >
                  <span
                    ><i class="fas fa-th-large"></i>Add/Edit Skill
                    Expertise</span
                  >
                </h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12" formArrayName="projectSkills">
                    <!-- <div class="col-lg-12" formGroupName="projectSkills"> -->
                    <div
                      *ngFor="
                        let item of projectSkills().controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <!-- test -->
                      <ng-select
                        multiple="false"
                        [(ngModel)]="selectedSkills"
                        (click)="onItemSelect($event)"
                        formControlName="skillId"
                      >
                        <ng-option
                          *ngFor="let skill of skills"
                          [value]="skill"
                          >{{ skill.name }}</ng-option
                        >
                      </ng-select>

                      <!--  <ng-select
                      [items]="skills"
                      bindLabel="name"
                      bindValue="id"
                      multiple="true"
                      formControlName="skillId"
                      [(ngModel)]="selectedSkills"
                    >
                    </ng-select> -->
                      <!-- test end -->
                      <!--  <angular2-multiselect
                      [data]="skills"
                      [settings]="skillsDropDownSettings"
                      [(ngModel)]="selectedSkills"
                      formControlName="skillId"
                      (onSelect)="onItemSelect($event)"

                    >
                    </angular2-multiselect> -->
                    </div>
                    <!-- extra client added skill -->
                    <!-- Custom Skill Modal -->
                    <div
                      class="modal fade"
                      id="customSkill"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="customSkillModalTitle"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4
                              class="modal-title up-card-main-title tools-right-btn-title mb-0"
                              id="customSkill"
                            >
                              <span
                                ><i class="fas fa-th-large"></i>Custom
                                Skill</span
                              >
                            </h4>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                            >
                              &times;
                            </button>
                          </div>
                          <div
                          *ngFor="
                            let item of projectSkills().controls;
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="customSkill">Custom Skill</label>
                              <input
                                type="text"
                                id="customSkill"
                                class="form-control"
                                placeholder="Enter skill name"
                                formControlName="extraClientAddedSkill"
                              />
                            </div>
                          </div>
                          </div>

                          <div class="modal-footer">
                            <button
                              type="button"
                              data-dismiss="modal"
                              class="btn primary-btn fill-primary"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- add skill modal end -->
                    <!-- extra client added skill end -->
                  </div>
                  <!-- extraClientAddedSkill -->
                  <div class="col-lg-12">
                    <div class="profile-card-body">
                      <div
                        class="suggest-skill"
                        data-toggle="modal"
                        data-target="#customSkill"
                      >
                        <span class="disclamer"
                          ><span class="pr-2"
                            >If required skill is not found.</span
                          ><span class="click-suggest-skill"
                            >Suggest a New Skill</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                  <!-- extraClientAddedSkill end -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn primary-btn fill-primary"
                  data-dismiss="modal"
                >
                  Add Skill
                </button>
                <!-- <button
                  type="button"
                  class="btn primary-btn fill-primary"
                  (click)="addProjectSkill()"
                >
                  Add skill
                </button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- skill-expertise edit popup modal end -->